<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify App</title>
    <link rel="shortcut icon" href="../static/src/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/base.css">
    <style>
        body,
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1 {
            margin-bottom: 15px;
        }
    </style>
</head>

<body>
    <div>
        <h1>{{h}}</h1>   
        <a href="/login" class="btn">LOGIN</a>
    </div>
</body>

</html>